/*################################# Editable index(admin) css starts here #################################*/

.edit-btn{
    position:absolute;
    display: none;
    background:seagreen;
    color:white;
    border-radius: 5px;
    padding:10px;
}
.top-right{
    top:10rem;
    right:5rem;
}
.service-tr{
    top: 0;
    right: 0;
}
.project-tr{
    top:1rem;
    right:1rem;
}
.upw{
    top:1rem;

}
.service-block:hover .edit-btn, .project-container:hover >.edit-btn, .project:hover .edit-btn{
    display: block;
}
/*################################# Editable index(admin) css ends here #################################*/



/*################################# main banner css starts here #################################*/

.main-banner{
    background: url("../../images/banner/consult-main-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:100vh;
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
}
.main-banner-txt{
    position: relative;
    width: 400px;
    padding: 50px;
    background: radial-gradient(white,white,transparent, transparent);
}
.main-banner-txt h1{
    font-weight: bold;
}
.main-banner-txt p{
    line-height: 1.8;
    font-size: 16px;
}
.banner-btn{
    display: flex;
    display: -webkit-flex;
}
.bn-btn{
    margin-right: 10px;
    padding: 10px ;
    text-transform: uppercase;
    border-radius: 5px;
    outline:none;
    text-align: center;
    font-size: 14px;
    border:none;
    color: white;
}

/*################################# main banner css ends here #################################*/

/*################################# service section css starts here #################################*/

.services-container{
    padding-top: 7rem;
    width:100%;
    height:800px;
    background: linear-gradient(#000000d9,#000000d9, #000000d9), url("../../images/banner/service-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    position: relative;

}
.service-detail{
    position: absolute;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    top:50%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-flow: wrap row ;
    align-content: center;
    color: white;
    text-align: center;

}
.service-detail p{
    text-align: justify;
    line-height: 1.8;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 13rem;
}
.service-detail h3{
    color:#add7e6;
    text-transform: uppercase;
}
.service-icon{
    width:100%;
    text-align: center;

}
.service-icon .fa{
    color: #add7e6;
    font-size: 60px;
}
.service-block{
    width:26%;
    margin: 20px 3.5%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    padding: 10px;
    position:relative;
}
.sercive-btn{
    padding: 10px;
    border-radius: 5px;
    border:1px solid white;
    color: white;
    background: transparent;
    margin-top: 15px;
}
/*################################# service section css ends here #################################*/


/*################################# project section css starts here #################################*/

.project-container{
    width:100%;
    height:800px;
    padding: 7rem 15px;
    position: relative;
}
.project-container .nav-tabs{
    position: absolute;
    transform: translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    left:50%;
}
.project-container .nav-tabs, .project-container h3{
    display:none;
}
.project-title{
    display:none;
}
.project-container .tab-pane{
    position: relative;
    top:8rem;
}
.project-container .nav-tabs>li.active>a{
    border: none;
    background: #345189;
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);

}
.project-container .nav-tabs>li a{
    color: #345189;
}
.project-container .nav-tabs>li a:hover{
    border-radius: 20px;
}
.project-container .nav-tabs{
    border:none;
}

.project-detail{
    display: flex;
    justify-content: center;
}
.project{
    position: relative;
    display:none;
    width:24%;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
}
.project h4, .project p{
    padding: 0 10px;
}
.project-container .tab-pane h3{
    text-align: center;

}
.project img{
    width:100%;
    height:20rem;
    object-fit: cover;
}
/*################################# project section css ends here #################################*/


/*################################# count section css starts here #################################*/

.count-container{
    width:100%;
    height:fit-content;
}
.count-wrapper{
    padding: 60px 30px;
    width:100%;
    background: url("../../images/banner/count-banner-02.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;

}
.count-detail{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-flow: wrap;
    width:100%;

}
.count{
    width:30%;
    padding:30px;
    text-align: center;
    color: white;
}
.count .fa{
    font-size:100px;
    text-align: center;
    width:100%;
}
.counter{
    font-size:50px;
    font-weight:bold;
    text-align: center;
    color: #1f0101;
}
.count .plus{
    font-size: 40px;
}

/*################################# count section css ends here #################################*/


